* {
  cursor: default;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Lexend Deca", sans-serif;
}

.outer {
  /* display: none; */
  cursor: default;
  color: black;
  background: linear-gradient(137deg, #b6bab9 0%, #b2b2b2 75%);
  width: 1020px;
  height: 380px;
  border-radius: 10px;
  border: 2px solid red;
  position: relative;
}

.inner {
  /* background-color: yellow; */
  width: 1000px;
}

.center {
  margin: 0 auto;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  display: flex;

  width: 1000px;
}

.btn-out {
  position: relative;
  border-radius: 5px;
  border: 1px solid black;
  width: 54px;
  height: 54px;
}

.btn-in {
  border-radius: 5px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.288);
  width: calc(100% - 8px);
  height: 44px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.var1out {
  background-color: #bcb59f;
}

.var1in {
  background-color: #cec7ae;
}

.var2out {
  background-color: #ddd7cb;
}

.var2in {
  background-color: #f3ecdf;
}

.btn-in:hover {
  filter: brightness(104%);
}

.btn-in:active {
  background-color: inherit;
}

.hover-class {
  filter: brightness(104%);
}

.active-class {
  background-color: inherit;
}

.upper {
  margin-top: 10px;
  position: relative;
  width: 1000px;
  height: 150px;
  border: 2px solid green;
}

.start {
  position: absolute;
  z-index: 1;
  width: 1000px;
  height: 150px;
  text-align: center;
}

.start_text {
  font-size: 32px;
}

.modal {
  filter: blur(5px);
}

.input_area {
  position: absolute;
  z-index: 0;
  opacity: 0;
  display: block;
  width: 1000px;
  height: 150px;
}

.typing_area {
  background-color: #48494b;
  position: relative;
  z-index: -1;
  margin: 0 auto;
  padding: 10px 20px;
  width: 950px;
  height: 150px;
  text-align: justify;
  font-size: 2rem;
}

.hidden {
  display: none;
}

.correct_char {
  color: #79a617;
  /* animation: color-change 10s linear infinite; */
  /* animation: rgb 5s linear infinite; */
}

.no {
  color: #eee;
}

.incorrect_char {
  color: red;
  text-decoration: underline;
}
